<h1>Saudi Seasons Review</h1>


<%if user_signed_in? %>
    Welcome <%= @user.name %><br>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> || 
    <%= link_to "New Place Review", new_place_path%> || 
    <%= link_to "My Reviews", my_list_path(@user)%>
<% else %>
    <%= link_to "Sign In", new_user_session_path %>
<% end %>


<div class="d-flex flex-wrap justify-content-around ">
  
<% @places.each do |place|%>

    <div class="p-2">

            <div class="d-flex flex-column flex-wrap align-items-center">
                    
                    <div class="p-2">
                    <img src=<%=place.image%> height="200" width="290">
                    </div>

                    <div class="p-2">
                    <%= place.name %> || <%= place.city %>  
                    </div>

                    <div class="p-2">
                    <% @users.each do |user| %>
                        <% if user.id == place.user_id %> Visited By: <%= user.name %>
                        <% end %>
                    <% end %>
                    </div>

                    <div>
                    <button type="button" class="btn btn-outline-secondary" id="white"><%= link_to "Details", place_path(place.id)%></button>
                    </div>

            </div>

    </div>

<% end %>

</div>

<div class="b-section">
<hr>

<%if !user_signed_in? %>
    <h1>Become One Of US and Share Your Review!</h1>
    <button> <%= link_to "Sign Up Now!" , new_user_registration_path %> </button>
<% end %>

</div>


