<h1>Places#new</h1>
<p>Find me in app/views/places/new.html.erb</p>


<%= form_for @place, url: {action: "create"} do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <%= f.label :name, 'Place Name'%><br>
    <%= f.text_field :name %>
    <br>

    <%= f.label :desc, 'Review'%><br>
    <%= f.text_field :desc %>
    <br>

    <%= f.label :city, 'City'%><br>
    <%= f.text_field :city %>
    <br>

    <%= f.label :image, 'Image'%><br>
    <%= f.text_field :image %>
    <br>

    <%= f.label :location, 'Location'%><br>
    <%= f.text_field :location %>
    <br>
    

    <%= f.submit "Submit" , data: {confirm: "Are you sure?"}%>

    <br>
    
    <%= link_to "Back", places_path%>

<% end %>