<h1>Places#show</h1>
<p>Find me in app/views/places/show.html.erb</p>

    <br><img src=<%=@place.image%> height="200" width="290"><br>
    <%= @place.name %> || <%= @place.city %>
    <%= @place.desc %><br>
    <%= @place.city %><br>    
    <iframe src=<%= @place.location %> width="300" height="225" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>

    <%if user_signed_in? %>
        <%= link_to "Edit", edit_place_path(@place) %>
        <%= link_to "Add to Favorite", places_path %>
        <%= link_to "Delete Review", place_path(@place), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>

    <%= link_to "Back", places_path %>
   
    